main {
    padding-bottom: 0;
    margin-bottom: -5px;
    background: #f7f7f7;
}
.breadcrumbs {
    padding-top: 40px;
    text-align: center;
}
.breadcrumbs a {
    display: inline-block;
    padding: 0 5px;
}
.breadcrumbs .breadcrumb-last {
    display: inline-block;
    padding-left: 5px;
}
.dlv-n-payment {
    padding-bottom: 60px;
}
.align-items-end {
    align-items: flex-end !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);
}
.row > * {
    padding-right: calc(1.5rem / 2);
    padding-left: calc(1.5rem / 2);
}
.column {
    flex: 0 0 auto;
    width: 100%;
}
main p {
    margin-bottom: 1.5em;
}
b, strong {
    font-weight: bold;
}
ul:not([class]) {
    padding-left: 1em;
}
img {
    height: auto;
    max-width: 100%;
    border-style: none;
}
.pickup {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 30px;
}
.pickup-image {
    text-align: center;
}



@media screen and (max-width: 576px) {
    .row > * {
        padding-right: calc(1.5rem / 3);
        padding-left: calc(1.5rem / 3);
    }
}

@media screen and (min-width: 768px) {
    .column-md {
        flex: 0 0 auto;
        width: 50%;
    }
    .order-md-last {
        order: 6 !important;
    }
}
