body {
    box-sizing: border-box;
}
.promo-banner {
    background: #D4E9F9;
    font-size: 15px;
    text-align: center;
}
.slider-lines {
    width: 1880px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.slider-line {
    width: 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.promo-img {
    padding: 0 10px;
}
