@font-face {
    font-family: 'Proxima-Nova';
    font-weight: 400;
    src: url(./fonts/Proxima-Nova/proximanova_regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(./fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
* {
    box-sizing: border-box;
}


body {
    font-family: Proxima-Nova;
    font-size: 14px;
}


.promo-banner {
    background: #D4E9F9;
    font-size: 15px;
    text-align: center;
}
.promo-banner .container {
    max-height: 50px;
}
.slider-lines {
    width: 490px;
    max-height: 50px;
    margin: 0 auto;
}
.slider-line {
    width: 490px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.promo-img {
    padding: 0 10px;
}


.header-top {
    background: #F7EBE5;
}
.header-top .container {
    max-width: 1200px;
    max-height: 42px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 14px 7px 12px 7px;
    font-weight: 400;
    line-height: 1;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.connect-top {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    max-width: 580px;
}
.connect-top p {
    display: inline-block;
    padding: 0 5px;
}
.connect-top a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.location {
    position: relative;
    display: flex;
    align-items: center;
}
.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 100%;
}
.contact-links a {
    justify-content: center;
    padding: 5px 9px 5px;
}