* {
    box-sizing: border-box;
}
.promo-banner {
    background: #D4E9F9;
    font-size: 15px;
    text-align: center;
}
.promo-banner .container {
    max-height: 50px;
}
.slider-lines {
    width: 490px;
    max-height: 50px;
    margin: 0 auto;
}
.slider-line {
    width: 490px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.promo-img {
    padding: 0 10px;
}


.header-top {
    background: #F7EBE5;
    max-height: 48px;
}
.header-top .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 14px 7px 12px 7px;
}