main {
    background: #f7f7f7;
    /* padding-bottom: 50px; */
}
main p {
    margin-bottom: 1.5em;
}
main a {
    cursor: pointer;
}
.breadcrumbs {
    padding-top: 40px;
    text-align: center;
}
.breadcrumbs a {
    display: inline-block;
    padding: 0 5px;
}
.breadcrumbs .breadcrumb-last {
    display: inline-block;
    padding-left: 5px;
}
.cards {
    text-align: center;
    margin-top: 20px;
}
.cards-title {
    margin-bottom: 25px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);
}
.row > * {
    padding-right: calc(1.5rem / 2);
    padding-left: calc(1.5rem / 2);
}
.justify-content-center {
    justify-content: center !important;
}
.col-cell {
    margin-bottom: 25px;
}
.column {
    flex: 0 0 auto;
    width: 50%;
}
.cards-item {
    color: #292929;
}
.cards-image {
    margin-bottom: 20px;
}
img {
    height: auto;
    max-width: 100%;
}



@media screen and (max-width: 1400px) {
   
}


@media screen and (max-width: 1200px) {
 
}


@media screen and (max-width: 992px) {
    .col-cell {
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 768px) {
    .cards-title {
        margin-bottom: 12px;
    }
}


@media screen and (max-width: 576px) {
    .row > * {
        padding-right: calc(1.5rem / 3);
        padding-left: calc(1.5rem / 3);
    }
    .col-cell {
        margin-bottom: 15px;
    }
    .cards-image {
        margin-bottom: 8px;
    }
}



@media screen and (min-width: 576px) {
  
}


@media screen and (min-width: 768px) {
    .column-md {
        flex: 0 0 auto;
        width: 25%;
    }
}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}


@media screen and (min-width: 1400px) {

}